h1{
  font-size:40px;
  text-decoration:underline;
  text-decoration-color:#0033ff;
}

.heading{
  font-size:24px;
  font-weight:
}

body{
  background-color:#2ff207;
}
p{
  font-style:italic;
}

#emoji{
  font-size:80px; 
}
#ice_cream{
  width:200px;
  height:auto;
}
#pizza{
  width:200px;
  height:auto;
}
#chocolate{
  width:200px;
  height:200px;
}
